<article class="info">
  <h2>AVISO LEGAL</h2>
  <ul>
    <li>El autor no se hace responsable del uso que se le pueda dar a esta aplicación.</li>
    <li>El autor no se hace responsable de la perdida de datos que esta aplicación pueda causar.</li>
    <li>El autor no hace uso de los datos que se introducen en esta aplicación.</li>
    <li>El autor no comercializa con los datos que se introducen en esta aplicación.</li>
    <li>El autor no usa los datos para enviar publicidad.</li>
  </ul>
</article>