<header>
  <header-logomenu logo="/assets/images/jaquecastigo.png" logo-url="/index.html">
    ${title}
    <nav>
      <ul>
        <li id="link1">
          <a href="/${lang}/insertar.html" tabindex="0">${grupoMenu.insertar}</a>
        </li>
        <li id="link2">
          <a href="/${lang}/listado.html" tabindex="0">${grupoMenu.listado}</a>
        </li>
        <li id="link3">
          <a href="/${lang}/estadisticas.html" tabindex="0">${grupoMenu.estadisticas}</a>
        </li>
        <li id="link4">
          <a href="/${lang}/graficos.html" tabindex="0">${grupoMenu.grafico}</a>
        </li>
        <li id="link5">
          <a href="/${lang}/acercade.html" tabindex="0">${grupoMenu.acercade}</a>
        </li>
        <li>
          <firebase-loginbutton
            id="myLoginButton"
            api-key="AIzaSyCAfMOqGesYR_0EH-nNncWoJx8c3O--Kfs"
            domain="jaquenotas"
            zone="europe-west1"
            messaging-sender-id="59103377385"
            app-id="1:59103377385:web:2b79eac410e446de297d78"
            class="loginbutton"
            show-icon
          ></firebase-loginbutton>
        </li>
      </ul>
    </nav>
  </header-logomenu>

  <firebase-crud id="myCrud" reference-id="myLoginButton"></firebase-crud>
</header>