@import "main.css";

header {
  display: flex;
  justify-content: space-around;
  height: 7rem;
  margin-bottom: 0.5rem;
}

.title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 80%;
  padding-top: 2.5rem;
}

.title h1 {
  background: var(--primary-100);
  color: var(--accent-100);
  text-align: center;
  margin:1rem 0 !important;
  padding:1rem!important;
  border-radius: 5px;
}

.title h2 {
  margin:0 !important;
  padding:0 !important;
  color: var(--text-100)!important;
}

/* fecha */
.fechaLayer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  margin: 0.5rem 0 !important;
}
.left { grid-area: 1 / 1 / 2 / 2; }
.center { grid-area: 1 / 2 / 2 / 5; }
.right { grid-area: 1 / 5 / 2 / 6; }

.fechahora {
  max-width: 20rem;
}
.editarfechaBtn {
  width: 3.5rem;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  padding: 0;
}

.fecha {
  width: 10rem!important;
  height: 1.5rem!important;
  padding: 0!important;
  margin: 0!important;
  margin-left: 1rem!important;
  color: var(--text-100)!important;
}



/* form */
details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}
summary {
  color: var(--primary-100) !important;
  padding: 0.3rem 0;
}   



label {
  flex: 20%;
  color: var(--text-100);
  font-weight: bold;
  margin:0 0.2rem;
}
span {
  text-align: right;
  padding: 1rem;
}

form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.formElement1 { grid-area: 1 / 1 / 2 / 2; }
.formElement2 { grid-area: 1 / 2 / 2 / 7; }
.formElement3 { grid-area: 1 / 6 / 2 / 7; }

.formElement4 { grid-area: 2 / 1 / 3 / 2; }
.formElement5 { grid-area: 2 / 2 / 3 / 7; }

.formElement6 { grid-area: 3 / 1 / 4 / 2; }
.formElement7 { grid-area: 3 / 2 / 4 / 7; margin-top:1rem; }

.formElement8 { grid-area: 4 / 1 / 5 / 7; } 
/*.formElement9 { grid-area: 3 / 5 / 4 / 7; }*/

.formElement10 { grid-area: 5 / 1 / 6 / 2; }
.formElement11 { grid-area: 5 / 2 / 6 / 7; }
.formElement12 { grid-area: 5 / 5 / 6 / 7; }

.formElement13 { grid-area: 6 / 1 / 7 / 2; }
.formElement14 { grid-area: 6 / 2 / 7 / 7; }
.formElement15 { grid-area: 6 / 5 / 7 / 7; }

.formElement16 { grid-area: 7 / 1 / 8 / 2; }
.formElement17 { grid-area: 7 / 2 / 8 / 7; }
.formElement18 { grid-area: 7 / 5 / 8 / 7; }

.formElement19 { grid-area: 7 / 2 / 7 / 7; }

#molestiasGroup {
  margin-top: 1rem;
}

form details {
  display: flex;
  flex-direction: column;
  padding: 0;
}

form details > div {
  display: flex;
  flex-direction: row;
  color: var(--text-100) !important;
}

form details summary {
  color: var(--text-100)!important;
  font-weight: 600;
}

/* LISTADO */

#listado {
  margin-bottom: 1rem;
}

#listado UL {
  display: flex;
  flex-wrap: wrap;
  max-height: 30vh;
  overflow: auto;
}

#listado LI {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header h1 {
    flex: 100%;
    font-size: 1.5rem;
  }
  .title {
    padding-top: 0;
  }
}